.devise {
  margin-top: 51px;
  .center {
    .window {
      padding: 20px 40px 20px;
      color: #777;
      background-color: #ffffff;
      border-radius: 3px;
      h2 {
        text-align: center;
        font-weight: 300;
        margin-bottom: 30px;
      }
      input[type=text] {
        padding: 15px;
      }
    }
    .btn {
      color: #6a8bee;
      border-color: #6a8bee;
      margin-bottom: 20px;
      margin-top: 10px;

      &:hover {
        color: #fff;
        background-color: #6a8bee;
      }
    }
  }
  .alert {
    margin-bottom: 0;
    #flash_notice {
      text-align: center;
    }
  }

  form .alert {
    margin-bottom: 20px;
  }

  .top {
    padding-top: 0;
    padding-bottom: 0;
  }
}